/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --primary: 0 69% 29%;
    --primary-light: 0 66% 33%;
    --primary-dark: 0 69% 24%;
  }

  .dark {
    --background: 0 0% 9%;
  }
}

@layer base {
  body {
    @apply bg-background text-slate-900;
  }
}

/* Estilos personalizados */
.gradient-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.text-balance {
  text-wrap: balance;
}
